<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--log4配置开始-->
	<log4net>
		<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\info.txt" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<param name="AppendToFile" value="true" />
			<param name="MaxSizeRollBackups" value="5" />
			<param name="MaximumFileSize" value="100MB" />
			<param name="Encoding" value="utf-8" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m%n" />
			</layout>
		</appender>
		<appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\debug.txt" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<param name="AppendToFile" value="true" />
			<param name="MaxSizeRollBackups" value="5" />
			<param name="MaximumFileSize" value="100MB" />
			<param name="Encoding" value="utf-8" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m%n" />
			</layout>
		</appender>
		<appender name="WarnAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\warn.txt" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<param name="AppendToFile" value="true" />
			<param name="MaxSizeRollBackups" value="5" />
			<param name="MaximumFileSize" value="100MB" />
			<param name="Encoding" value="utf-8" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m%n" />
			</layout>
		</appender>
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\error.txt" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<param name="AppendToFile" value="true" />
			<param name="MaxSizeRollBackups" value="5" />
			<param name="MaximumFileSize" value="100MB" />
			<param name="Encoding" value="utf-8" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m%n" />
			</layout>
		</appender>
		<appender name="CallAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\calllog.txt" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<param name="AppendToFile" value="true" />
			<param name="MaxSizeRollBackups" value="5" />
			<param name="MaximumFileSize" value="100MB" />
			<param name="Encoding" value="utf-8" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m%n" />
			</layout>
		</appender>
		<logger name="loginfo">
			<level value="INFO" />
			<appender-ref ref="InfoAppender" />
		</logger>
		<logger name="logdebug">
			<level value="DEBUG" />
			<appender-ref ref="DebugAppender" />
		</logger>
		<logger name="logwarn">
			<level value="WARN" />
			<appender-ref ref="WarnAppender" />
		</logger>
		<logger name="logerror">
			<level value="ERROR" />
			<appender-ref ref="ErrorAppender" />
		</logger>
		<logger name="logcall">
			<appender-ref ref="CallAppender" />
		</logger>
	</log4net>
	<!--log4配置结束-->
</configuration>