<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="huaweicloud" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" protocolVersion="3" />
        <add key="net6framework" value="https://nuget.pkg.coding.net/tejingcai/net6framework/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <net6framework>
            <add key="Username" value="net6framework-1686132193629" />
            <add key="ClearTextPassword" value="dc6a947ad7bd5522ebb6fe5c6c837e46b0973d03" />
        </net6framework>
    </packageSourceCredentials>
</configuration>